{{- $system_username := promptStringOnce . "system_username" "System username" -}}
{{- $company := promptStringOnce . "company" "Company" -}}
{{- $first_name := promptStringOnce . "first_name" "First name" -}}
{{- $last_name := promptStringOnce . "last_name" "Last name" -}}
{{- $personal_email := promptStringOnce . "personal_email" "Personal email" -}}
{{- $work_email := promptStringOnce . "work_email" "Work email" -}}
{{- $golang_version := promptStringOnce . "golang_version" "Golang version" -}}
{{- $rust_version := promptStringOnce . "rust_version" "Rust version" -}}
{{- $nodejs_version := promptStringOnce . "nodejs_version" "Node.js version" -}}
{{- $python_version := promptStringOnce . "python_version" "Python version" -}}
{{- $work_git_host := promptStringOnce . "work_git_host" "Work git host (github.com, bitbucket.com, etc)" -}}

{{- $aws_credentials_path := printf "op://%s/aws-credentials" $company -}}
{{- $aws_access_key_path := printf "%s/access_key" $aws_credentials_path -}}
{{- $aws_secret_key_path := printf "%s/secret_key" $aws_credentials_path -}}
{{- $aws_region_path := printf "%s/region" $aws_credentials_path -}}

{{- $personal_signing_key_path := "op://personal/ssh-key" -}}
{{- $personal_public_key_path := printf "%s/public key" $personal_signing_key_path -}}
{{- $work_signing_key_path := printf "op://%s/ssh-key" $company -}}
{{- $work_public_key_path := printf "%s/public key" $work_signing_key_path -}}

{{- $work_gitconfig_dir := printf "gitdir:~/code/%s/" $company -}}
{{- $work_gitconfig_path := printf "~/.gitconfig_%s" $company -}}
{{- $work_git_ssh_alias := printf "ssh://git@%s-work:%s" $work_git_host $company -}}
{{- $work_git_https_url := printf "https://%s/%s" $git_host %company -}}

# This file is dynamically generated by chezmoi. DO NOT EDIT.

[data]
    # General
    system_username = {{ $system_username | quote }}
    company = {{ $company | quote }}
    first_name = {{ $first_name | quote }}
    last_name = {{ $last_name | quote }}
    full_name = {{ printf "%s %s" $first_name $last_name | quote }}
    personal_email = {{ $personal_email | quote }}
    work_email = {{ $work_email | quote }}

    # Languages
    golang_version = {{ $golang_version | quote }}
    rust_version = {{ $rust_version | quote }}
    nodejs_version = {{ $nodejs_version | quote }}
    python_version = {{ $python_version | quote }}
    
    # AWS
    aws_access_key = {{ onepasswordRead $aws_access_key_path | quote }}
    aws_secret_key = {{ onepasswordRead $aws_secret_key_path | quote }}
    aws_region = {{ onepasswordRead $aws_region_path | quote }}

    # Git 
    personal_signing_key_path = {{ $personal_signing_key_path | quote }}
    work_signing_key_path = {{ $work_signing_key_path | quote }}
    personal_signing_key = {{ onepasswordRead $personal_public_key_path | quote }}
    work_signing_key = {{ onepasswordRead $work_public_key_path | quote }}

    work_gitconfig_dir = {{ $work_gitconfig_dir | quote }}
    work_gitconfig_path = {{ $work_gitconfig_path | quote }}
    work_git_host = {{ $work_git_host | quote }}
    work_git_ssh_alias = {{ $work_git_ssh_alias | quote }}
    work_git_https_url = {{ $work_git_https_url | quote }}

[edit]
    command = "nvim"
