[user]
    name = {{ .full_name }} 
    email = {{ .personal_email }}

[core]
    editor = "nvim"

[includeIf "{{ .work_gitconfig_dir }}"]
    path = {{ .work_gitconfig_path }}

[push]
    autoSetupRemote = true

[url "git@github.com:"]
  insteadOf = https://github.com/

[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
