# Managed by Chezmoi
# This configuration is loaded automatically by .gitconfig
# when you are in the ~/workspace directory.

[user]
    email = {{ .work_email | quote }}

# Rewrite Work's GitHub URLs to use an SSH alias.
# This rule is more specific than the global one, so it takes precedence.
[url "{{ .work_git_ssh_alias }}"]
    insteadOf = {{ .work_git_https_url }}
