#!/bin/bash
# This script runs only once on a new machine

set -e # Exit immediately if a command fails

echo "› Checking for Homebrew and installing if not found..."
if ! command -v brew &> /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Change to the user's home directory, where the Brewfile is located
cd "{{ .chezmoi.homeDir }}"

echo "› Homebrew is installed. Tapping and installing from Brewfile..."
brew bundle --global 

echo "✅ Brew bundle complete."
exit 0
