[user]
    name = {{ .full_name }} 
    email = {{ .personal_email }}
    signingkey = {{ .personal_signing_key }}

[core]
    editor = "nvim"

[includeIf {{ printf "gitdir:~/code/%s/" $company }}]
    path = {{ printf "~/.gitconfig_%s" $company }}

[push]
    autoSetupRemote = true

[url "git@github.com:"]
  insteadOf = https://github.com/

[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
