Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

# Personal GitHub account (default)
Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_personal.pub
  IdentitiesOnly yes

# Work GitHub account
Host {{ .work_git_host }} 
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_work.pub
  IdentitiesOnly yes
