{{- $company := .chezmoi.company -}}
{{- $personal_signing_key := onepasswordRead "op://personal/git-signing-key" -}}
{{- $work_signing_key := onepasswordRead "op://{{ $company }}/git-signing-key" -}}

[[ssh-keys]]
item = "{{ $personal_signing_key }}"
vault = "personal"

[[ssh-keys]]
item = "{{ $work_signing_key }}"
vault = "{{ $company }}"
