{{- $company := .chezmoi.company -}}
{{- $personal_signing_key := .chezmoi.personal_git_signing_key -}}
{{- $work_signing_key := .chezmoi.work_git_signing_key -}}

[[ssh-keys]]
item = "{{ $personal_signing_key }}"
vault = "personal"

[[ssh-keys]]
item = "{{ $work_signing_key }}"
vault = "{{ $company }}"
