{{- $company := .company -}}
{{- $personal_signing_key := onepasswordRead "op://Private/Github - Personal" -}}
{{- $work_signing_key := onepasswordRead "op://{{ $company }}/git-signing-key" -}}

[[ssh-keys]]
item = "{{ $personal_signing_key }}"
vault = "Private"

[[ssh-keys]]
item = "{{ $work_signing_key }}"
vault = "{{ $company }}"
