{{- $company := .company -}}
{{- if and (ne $company "personal") (lookPath "op") -}}
{{-   $item_name := printf "op://%s/aws-credentials" $company -}}
{{-   $awsCreds := onepasswordRead $item_name -}}

[default]
region = {{ $awsCreds.region }} 
output = yaml 
