{{- $company := .company -}}
{{- $item_name := printf "op://%s/aws-credentials" $company -}}
{{- $aws_creds := onepasswordRead $item_name -}}

[default]
region = {{ $aws_creds.region }} 
output = json 
